.planet-grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    grid-auto-rows: minmax(500px, auto);
    width: 100%;
    max-width: 1400px;
    padding: 20px 0;
    box-sizing: border-box;

    @media (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 1199px) and (min-width: 900px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 899px) and (min-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 599px) {
        grid-template-columns: 1fr;
    }
}
